# Fill in empty values before running

OPENROUTER_API_KEY=

# Set to false to disable insertion into the database from the website
ALLOW_INSERT=true

MONGODB_URI=mongodb://root:password@mongo:27018/?authSource=admin
MONGO_INITDB_ROOT_USERNAME="root"
MONGO_INITDB_ROOT_PASSWORD="password"

MCP_HTTP_BASE="<fqdn-of-firepoints-mcp-server>"
MCP_ALLOWED_HOSTS="localhost,0.0.0.0"


