services:
  fireaid_web:
    build:
      context: ./fireaid_web/
      dockerfile: docker/Dockerfile
    environment:
      MONGODB_URI: "mongodb://root:password@mongo:27017/fireaid?authSource=admin"
    container_name: fireaid_web
    restart: always
    ports:
      - "3000:3000"

  mongo:
    image: mongo:8.0
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017" 
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - mongo-data:/data/db

  mcp-api:
    build: 
      context: ./FireMCP/
      dockerfile: Dockerfile
    container_name: mcp-api
    ports:
      - "8000:8000"
    environment:
      # 可选：如果你确认该字段存在才打开，否则留空
      # ORDER_BY_FIELDS: "FireDiscoveryDateTime DESC"
      ORDER_BY_FIELDS: ""
    restart: unless-stopped

volumes:
  mongo-data:
    driver: local
