services:
  fireaid_web:
    container_name: fireaid_web
    build:
      context: ./fireaid_web/
      dockerfile: docker/Dockerfile
    restart: always
    env_file:
      - .env
    depends_on:
      - mongo
    ports:
      - "3000:3000"

  mongo:
    image: mongo:8.0
    restart: always
    ports:
      - "27018:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
    driver: local
